[submodule "phq-9-backend"]
	path = phq-9-backend
	url = https://github.com/PHUICMT/phq-9-backend.git
[submodule "phq-9-web"]
	path = phq-9-web
	url = https://github.com/PHUICMT/phq-9-web.git
[submodule "phq-9-mailsender"]
	path = phq-9-mailsender
	url = https://github.com/PHUICMT/phq-9-mailsender.git
[submodule "phq-9-rabbitmq"]
	path = phq-9-rabbitmq
	url = https://github.com/PHUICMT/phq-9-rabbitmq
