version: "2"

services:
  db:
    image: mysql:latest
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      TZ: "Asia/Bangkok"
      MYSQL_DATABASE: "phq_9_db"
      MYSQL_USER: "admin"
      MYSQL_PASSWORD: "P@ssw0rd"
      MYSQL_ROOT_PASSWORD: "P@ssw0rd"
    networks:
      - phq-9-network
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - my-db:/var/lib/mysql
      - ./db/phq-9-db.sql:/docker-entrypoint-initdb.d/phq-9-db.sql

  server:
    container_name: phq-9-backend
    image: "phuicmt/phq-9-backend"
    restart: always
    networks:
      - phq-9-network
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      VIRTUAL_HOST: phu-host-camp.page
      LETSENCRYPT_HOST: phu-host-camp.page

  web:
    container_name: phq-9-fontend
    image: "phuicmt/phq-9-fontend"
    restart: always
    networks:
      - phq-9-network
    ports:
      - "3000:3000"
    expose:
      - "80"
    depends_on:
      - server
      - db
    environment:
      VIRTUAL_HOST: phu-host-camp.page
      LETSENCRYPT_HOST: phu-host-camp.page

  nginx-proxy:
    image: jwilder/nginx-proxy:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - certs:/etc/nginx/certs:ro
      - dhparam:/etc/nginx/dhparam
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/default.conf:/etc/nginx/nginx.conf
    networks:
      - phq-9-network

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: nginx-proxy-lets
    volumes_from:
      - nginx-proxy
    volumes:
      - certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - nginx-proxy
    networks:
      - phq-9-network

volumes:
  my-db:
  html:
  vhost:
  certs:
  dhparam:

networks:
  phq-9-network:
    external: true
