version: "2"

services:
  portainer_agent:
    image: portainer/agent
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    ports:
      - "9001:9001"
    networks:
      - phq-9-network

  portainer:
    container_name: portainer
    restart: always
    image: portainer/portainer
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - phq-9-network
    ports:
      - "9000:9000"
    expose:
      - "9000"
    environment:
      VIRTUAL_HOST: portainer.phq9-thesis.page
      LETSENCRYPT_HOST: portainer.phq9-thesis.page
      VIRTUAL_PORT: 9000

  db:
    image: mysql:latest
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      TZ: "Asia/Bangkok"
      MYSQL_DATABASE: "phq_9_db"
      MYSQL_USER: "admin"
      MYSQL_PASSWORD: "P@ssw0rd"
      MYSQL_ROOT_PASSWORD: "P@ssw0rd"
    networks:
      - phq-9-network
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - my-db:/var/lib/mysql
      - ./db/phq-9-db.sql:/docker-entrypoint-initdb.d/phq-9-db.sql
    command: [--wait_timeout=28800]

  server:
    container_name: phq-9-backend
    image: "phuicmt/phq-9-backend"
    restart: always
    networks:
      - phq-9-network
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - video_storage:/server/app/video_storage

  web:
    container_name: phq-9-fontend
    image: "phuicmt/phq-9-fontend"
    restart: always
    networks:
      - phq-9-network
    ports:
      - "80:3000"
    expose:
      - "80"
    depends_on:
      - server
      - db
    environment:
      DANGEROUSLY_DISABLE_HOST_CHECK: "true"
      VIRTUAL_HOST: phq9-thesis.page
      LETSENCRYPT_HOST: phq9-thesis.page

  smtp:
    container_name: smtp
    image: bytemark/smtp
    restart: always
    environment:
      RELAY_HOST: smtp.gmail.com
      RELAY_PORT: 587
      RELAY_USERNAME: phq.9.thesis@gmail.com
      RELAY_PASSWORD: 4847_5523

  smtp:
    container_name: smtp
    image: bytemark/smtp
    restart: always
    environment:
      RELAY_HOST: smtp.gmail.com
      RELAY_PORT: 587
      RELAY_USERNAME: phq.9.thesis@gmail.com
      RELAY_PASSWORD: 4847_5523

volumes:
  my-db:
  html:
  vhost:
  certs:
  dhparam:
  portainer_data:
  video_storage:

networks:
  phq-9-network:
    external: true
